<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491951991132-7pbneukoja9o444621lrdrf23psi49jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491951991132-7pbneukoja9o444621lrdrf23psi49jm</string>
	<key>API_KEY</key>
	<string>AIzaSyA9YoKyArIgI9ooGIyMH6FF0LQ9dIK8S1o</string>
	<key>GCM_SENDER_ID</key>
	<string>491951991132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.necsca.safebites</string>
	<key>PROJECT_ID</key>
	<string>safebites-4a21a</string>
	<key>STORAGE_BUCKET</key>
	<string>safebites-4a21a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491951991132:ios:bf37009656ce6af2853999</string>
</dict>
</plist>
